* {
  box-sizing: border-box;
}
/* To disable arrows in inputs in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* To disable arrows in inputs in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  margin: 0;
}

input{
  font-family: "Space Mono", monospace;
}

h1 {
  margin: 30px auto;
  color: hsl(186, 14%, 43%);
  overflow-wrap: break-word;
  width: 110px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 10px;
  font-size: 22px;
}

.wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
  margin: 0;
}


.text-input {
  border-radius: 5px;
  height: 35px;
  font-size: 24px;
  padding: 18px;
  width: 100%;
  position: relative;
}

.number-input{
  background-color:hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  font-weight: bold;
  text-align: right;
  border-color: hsl(189, 41%, 97%);
  border-style: solid;
}

.active-text-input{
  color: hsl(183, 100%, 15%);
}

.text-input-grey{
  color:rgba(0, 73, 77, 0.5); 
}

fieldset {
  padding: 0;
  border: none;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

legend {
  margin-bottom: 15px;
}

input[type="radio"] {
  position: fixed;
  width: 0;
  opacity: 0;
}

fieldset label {
  border: 2px solid hsl(183, 100%, 15%);
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  padding: 8px;
  width: 47%;
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

fieldset input[type="radio"]:checked + label {
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  border-color: hsl(172, 67%, 45%);
  font-weight: bold;
}

input[type="number"]:focus {
  outline: 0;
  border: 2px solid hsl(172, 67%, 45%);
}

#custom-percent{
    padding: 8px;
    width: 47%;
    border-radius: 7px;
    font-size: 20px;
    margin-bottom: 20px;
}
.dollar-sign {
  position: absolute;
  top: 190px;
  left: 30px;
  font-size: 24px;
  color: hsl(184, 14%, 56%);
}
.error-text {
  color: red;
  display: none;
}

.error-border {
  border: 2px solid red;
}
.splitter-form {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  border-radius: 20px;
}

.input-title {
  color: hsl(184, 14%, 56%);
  margin-top: 20px;
  font-weight: bold;
}

.bill {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fa-user {
  position: absolute;
  left: 30px;
  top: 583px;
  font-size: 15px;
  color: hsl(184, 14%, 56%);
  z-index: 1;
}

.total-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin-top: 50px;
  padding: 20px;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  border-radius: 13px;
}

.total-display p {
  width: 50%;
}

.total-display span {
  font-size: 12px;
  color: hsl(186, 14%, 43%);
  display: block;
}

.num-amount {
  color: hsl(172, 67%, 45%);
  font-size: 24px;
  text-align: right;
}

.btn-reset {
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 16px;
  font-weight: bold;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  text-transform: uppercase;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.btn-reset:disabled{
  opacity: 0.30;
}


/* For Desktop */
@media (min-width: 1024px) {
  .wrapper{
    height: 100vh;
  }

  .splitter-form {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 900px;
    height: 440px;
    padding: 20px 0;
    align-content: center;
    justify-content: space-around;
  }

  .total-display {
    margin: 0;
    width: 40%;
    justify-content: initial;
    align-content: initial;
    padding-bottom: 40px;
  }

  .total-display:first-child {
    align-self: center;
    padding-left: 20px;
  }

  .total-display p:nth-child(odd) {
    padding-left: 20px;
  }

  .input-forms {
    width: 40%;
  }

  .input-title {
    margin-top: 0;
  }

  .bill {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0;
  }

  .total-display > p:first-child,
  .tip {
    align-self: center;
  }

  .btn-reset {
    align-self: flex-end;
  }

  .num-amount {
    font-size: 34px;
  }
  .total-display p {
    margin: 0;
  }

  .fa-user {
    left: 60px;
    top: 368px;
  }

  .dollar-sign {
    left: 60px;
    top: 84px;
  }

  .text-input {
    margin-top: 10px;
  }

  .num-people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  fieldset {
    padding-bottom: 0;
  }

  fieldset label, #custom-percent {
    width: 30%;
  }
}
